.lion {
  background-color: salmon;
  border: 1px dotted pink;
  padding: 10px;

  span {
    background-color: purple;
    display: block;
    width: 5em;
  }
}

.like {
  background-color: #ccc;
  display: inline;
  width: 5em;
}

.bootcamp {
  background-color: #cfc;
  display: inline-block;
  width: 300px;
}

.school {
  border: 1px solid orange;
  margin: 10px;
}

.techit {
  border: 1px solid pink;
  padding: 10px;
  margin: 10px;
  height: 200px;
  overflow: auto;
}
